<p *ngIf="!material"><em>Loading...</em></p>

<div *ngIf="material">
  <h2>Material Id: {{material.id}}</h2>
  <p>
    <label for="name">Name: </label> <input type="text" [(ngModel)]="material.name" name="name" />
  </p>
  <p>
    <label for="quantity">Quantity: </label> <input type="text" [(ngModel)]="material.quantity" name="quantity"/>     
  </p>
  <button (click)="update()">Update</button>
</div>
