<h1>Materials</h1>

<p *ngIf="!materials"><em>Loading...</em></p>

<table class='table' *ngIf="materials">
  <thead>
    <tr>
      <th class="col-sm-1">Id</th>
      <th class="col-sm-3">Name</th>
      <th class="col-sm-1">Quantity</th>
      <th class="col-sm-1"></th>
      <th class="col-sm-4"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let material of materials">
      <td>{{ material.id }}</td>
      <td>{{ material.name }}</td>
      <td>{{ material.quantity }}</td>
      <td><a [routerLink]="['/material',material.id]">
            <i class="fa fa-edit"></i>
          </a></td>
      <td></td>
    </tr>
  </tbody>
</table>
